<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
	<% if !@user.listings.empty? %>
	<strong>My Listings:</strong>
	<%@user.listings.each do |listing| %>
	<p>
	<% if logged_in?%>
	<strong> <%= link_to listing.name, edit_listing_path(listing)%> </strong>
	<% else %>
	<strong> <%= link_to listing.name, listing_path(listing)%> </strong>
	<% end %>
	</p>
	<p>Category: <%=listing.category%></p>
	<p><%=listing.description%></p>
	<% end %>
</p>
<% end %>
<% if current_user == @user  %>
<%= link_to 'New Listing', new_listing_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
